.doc_wrapper
{
    float: left;
}
.doc_wrap
{
    float: left;
    border-bottom: 1px dotted #D3B439;
    width: 100%;
}
.doc_title
{
    float: left;
    text-align: justify;
    padding: 5px 5px;
    width: 100%;
}
.doc_desc
{
    float: left;
    padding: 5px 5px;
    text-align: justify;
    width: 100%;
    display: none;
}

.doc_download
{
    padding: 5px 5px;
    float: left;
    display: none;
}
.doc_download a
{
    color: Red;
    text-decoration: none;
}
.tbl_doc
{
    float:left;
}
.tbl_doc thead tr td
{
    color: Red;
    font-weight: bold;
    text-align: center;
}
.tbl_doc thead tr .td1
{
    width: 70px;
}
.tbl_doc tr .td2
{
    text-align: center;
}
.tbl_doc tr td
{
    padding: 4px 5px;
    border-bottom: 1px solid #CFCFCF;
    height: 30px;
    text-align: center;
}
.doc_content
{
    padding: 10px 0;
}
table
{
    border-collapse: collapse;
}
.box_search
{
    margin-left: 10px;
}
.box_hide
{
    width: 1000px;
    height: 100%;
    display: block;
}

.box_body
{
    font-family: Arial;
    width: 100%;
}
.box_edit
{
    width: 400px;
    background: #FFF;
    padding: 20px 20px;
}
/*==============css for slideshow==============*/
.img_thumb
{
    width: 150px;
    height: 100px;
    display: block;
    float: left;
    padding: 4px 0;
}
.img1
{
    width: 500px;
    height: 400px;
    display: none;
    z-index: 1000;
}
.title_slide
{
    float: left;
    height: 40px;
    padding: 3px 0 3px 20px;
}
.img_thumb img:hover .img
{
    display: block;
}

/*====css for realtymarket=============*/
.MK_edit
{
    width: 850px;
    background: #FFF;
    margin-left:50px;
    margin-top:10px;
    border:1px solid #CFCFCF;
    float:left;
    
    
}
.Edit_Title
{
    float:left;
    width:100%;
    height:30px;
    border-bottom:1px solid #CFCFCF;
    border-collapse:collapse;
    text-align:left;
    padding-top:3px;
    background:url(../img/box_title_bg.png) #cccccc repeat-x 50% 50%;
}
.Edit_Title a
{
    font-size:18px;
    margin-left:10px;
}
.box_alert
{
     float:left;
     height:10px;
     text-align:center;
     margin-bottom:30px;
     width:100%;
     padding-top:5px;
}

.tbEdit
{
    margin-left:50px;
}
.tbEdit a
{
    color: Red;
}
.tbDoc_my
{
    margin-left:200px;
    margin-top:20px;
    float:left;
    margin-bottom:20px;
    
}
