.doc_wrapper
{
    float: left;
}
.doc_wrap
{
    float: left;
    border-bottom: 1px dotted #D3B439;
    width: 100%;
}
.doc_title
{
    float: left;
    text-align: justify;
    padding: 5px 5px;
    width: 100%;
}
.doc_desc
{
    float: left;
    padding: 5px 5px;
    text-align: justify;
    width: 100%;
    display: none;
}

.doc_download
{
    padding: 5px 5px;
    float: left;
    display: none;
}
.doc_download a
{
    color: Red;
    text-decoration: none;
}
.tbl_doc
{
    float:left;
}
.tbl_doc thead tr td
{
    color: Red;
    font-weight: bold;
    text-align: center;
}
.tbl_doc thead tr .td1
{
    width: 70px;
}
.tbl_doc tr .td2
{
    text-align: center;
}
.tbl_doc tr td
{
    padding: 4px 5px;
    border-bottom: 1px solid #CFCFCF;
    height: 30px;
    text-align: center;
}
.doc_content
{
    padding: 10px 0;
}
table
{
    border-collapse: collapse;
}
.box_search
{
    margin-left: 10px;
}
.box_hide
{
    width: 1000px;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: block;
    background: url("../img/bg.png");
}

.box_body
{
    font-family: Arial;
    width: 100%;
}
.box_edit
{
    width: 400px;
    background: #FFF;
    position: absolute;
    left: 330px;
    top: 50px;
    padding: 20px 20px;
}
/*==============css for slideshow==============*/
.img_thumb
{
    width: 150px;
    height: 100px;
    display: block;
    float: left;
    padding: 4px 0;
}
.img1
{
    width: 500px;
    height: 400px;
    display: none;
    z-index: 1000;
}
.title_slide
{
    float: left;
    height: 40px;
    padding: 3px 0 3px 20px;
}
.img_thumb img:hover .img
{
    display: block;
}

/*====css for realtymarket=============*/
.MK_edit
{
    width: 750px;
    background: #FFF;
    position: absolute;
    left: 100px;
    top: 50px;
    padding: 20px 20px;
}
.tbEdit a
{
    color: Red;
}

