body 
{
}
/*a
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}*/
#container
{
	width:600px;
}
/*==============================*/

#bigPic{
	width:395px;
	height:321px;
	padding:1px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:10px;
	float:left;
	
}
#bigPic div{
	position:absolute;
	width:415px;
	height:340px;
	overflow:hidden;
	display:none;
}
#bigPic div img
{
	width:395px;
	height:321px;
}
ul#thumbs li.active{
	
	background:#8FAEBF;
	
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
	
}
 
ul#thumbs li{
	border-bottom:1px solid #CCC;	
	border-right:1px solid #CCC;
	padding:3px;
	cursor:pointer;
	width:255px;
	font-size:14px;
	height:58px;
	background:#282828;
	color:White;
}
ul#thumbs img{
	float:left;
	width:80px;
	height:80px;
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;
	border:2px solid #242424;		
}

#bigPic span {
	position: absolute;
	top: 220px;
	height:80px;
	left: 0px;	
	width: 375px;
	padding: 10px;
	color: #FFF;
	z-index: 11;
	overflow:hidden;
}
#bigPic span a.title
{
	color:White;
	text-decoration:none;
	font:bold 16px Arial;
}
#bigPic span a
{
	color:White;
	text-decoration:none;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	
}
/*================================================================*/
#sl_Label1
{
	overflow:hidden;
}
.showsl
{
	 
	 border:1px solid #CCC;
	 height:340px;
}
.ssLeft
{
	float:left;
	margin-top:0px;
}
ul#thumbs li div 
{
}
ul#thumbs li div img
{
	height:50px;
	width:60px;
}
ul#thumbs li div .title_left
{
	float:left;
	height:50px;
	width:58px;
	
	margin-left:-2px;
}
 ul#thumbs li div .title_right
{
	padding-left:7px;
	float:left;
	height:61px;
	width:183px;
	margin-left:4px;
}
.title_right a
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:White;
	padding-bottom:20px;
}
ul#thumbs li div
{
	clear:none;
	height:61px;
	width:250px;
}

/*-----------------css trang chu------------*/

/*-------tin tuc */
     .gd_Chitiet
    {
    	margin-left:10px;
    }
    .gd_Title
    {
    	width:100%;
    	float:left;
    	 color:white;
    	 height:33px;
    	 background:gray url(../background_img/section1.png) no-repeat;
    }
      .box_diemtin
    {
    	width:100%;
    	float:left;
    	border-bottom:1px solid #DFDFDF;
    	border-left:1px solid #DFDFDF;
    	border-right:1px solid #DFDFDF;
    	width:655px;
    	height:230px;
    	-moz-border-radius:5px 5px;
    	margin-top:-2px;
    }
    .gd_Title a
    {
		 font-size:20px;
    	 font-weight:bold;
    	 padding-left:5px;
    	 padding-top:5px;
    	 font-family:Times New Roman;
    	 
    }
    .gd_GiaiDau
    {
    	
    	margin-top:20px;
    	height:250px;
    	width:657px;
    	
    	margin-bottom:5px;
    	
    }
    .gd_tinchinh
    {
    	margin-top:10px;
    	width:100%;
    	float:left;
    	clear:none;
    }
    .gd_tinchinh_tc
    {
    }
    .gd_img
    {
    	float:left;
    	width:130px;
    	height:105px;
    	margin-left:2px;
    	border:2px solid #242424;
    }
    .gd_img img
    {
    	 width:130px;
    	 height:105px;
    }
    .gd_title_img
    {
     float:left;
     padding-left:10px;
     padding-bottom:10px;
     
     font-weight:bold;
     margin-top:-5px;
     text-align:justify;
     width:480px;
     
    }
    .gd_title_img a
    {
        color:#222222;
        font-size:20px;
    }
   .a1
    {
    	font-size:12px;
    	font-weight:normal;
    	padding-left:5px;
    	color:Blue;
    }
    .gd_desc
    {
    	float:left;
    	width:480px;
    	padding-left:10px;
    	padding-bottom:5px;
    	text-align:left;
    	margin-top:-5px;
    }
    .gd_desc a,.gd_Chitiet_a a
    {
    	color:Black;
    	font-family:Arial,Helvetica,sans-serif;
    	font-size:13px;
    }
    .gd_Chitiet_a
    {
    	width:100%;
    	float:left;
    	padding-top:2px;
    }
    .gd_Chitiet_a .img1
    {
    	width:10px;
    	height:10px;
    }
    a
    {
    	text-decoration:none;
    }
    .gd_anh
    {
    	width:23px;
    	height:12px;
    }
    #tc_contents
    {
    	
    	float:left;
    	margin:0;
    }
 #baner_qc
 {
 	border:1pz solid gray;
 	width:659px;
 	height:110px;
 	float:left;
 	background:url(../background_img/fcbarcelona.jpg) no-repeat;
 }
#slide
{
	margin-top:3px;
	float:left;
	width:663px;

}
#Bxh_Binhchon
{
	
	float:left;
	width:595px;
	height:300px;
	background-color:#0F0E0E;
	padding:7px 7px;
	margin:10px 0 30px 20px;
}
/*=========================*/
    #box_bxh_bc
    {
    	width:600px;
    	height:300px;
    }
    #box_bxh
    {
    	width:270px;
    	height:300px;
    	float:left;
    	border-right:2px solid #0F0E0E;
    	background:white;
    }
    #binhchon
    {
    	width:320px;
    	height:300px;
    	float:left;
    	border-left:2px solid #0F0E0E;
    	background:#242424;
    	
    }
    #club
    {
    	width:188px;
    	height:35px;
    	padding-left:50px;
    	border:1px solid #DFDFDF;
    }
        #club_content
        {
            height: 250px;
            overflow:auto;
            
        }
        .logo
        {
        	Height:33px ;
        	Width:34px;
        	margin-left:5px; 
        }
        #bxh
        {
        	height: 237px;
            text-align:center;
        }
        a
        {
        	font-family:Arial;
        	font-size:12px;
        	
        }
        #content_bc
        {
            height: 180px;
            width: 261px;
            padding-left:50px;
           
        }
        #bnt_bc
        {
            height: 32px;
            padding-left:50px;
        }
        #Title_bc
        {
            height: 46px;
            padding-left:10px;
            padding-top:10px;
            
        }
        #Title_bc a
        {
        	font-weight:bold;
        	font-size:14px;
        	color:#00B2EC;
        }
        
        .radio
        {
        	font-family:Arial;
        	font-size:13px;
        	color:#00B2EC;
        }