
.doc_wrapper
{
    float: left;
}
.doc_wrap
{
    float: left;
    border-bottom: 1px dotted #D3B439;
    width: 100%;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.doc_title
{
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    float: left;
    text-align: justify;
    padding: 5px 5px;
    width: 98%;
}
a:hover
{
    text-decoration:none;
}
.doc_title a
{
    color: #2F6B87;
    font-weight: bold;
}
.doc_desc
{
    float: left;
    padding: 5px 5px;
    text-align: justify;
    width: 98%;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}

.doc_download
{
    padding: 5px 5px;
    float: left;
    width: 100%;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.doc_download a
{
    color: #459B30;
    text-decoration: none;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    font-weight:bold;
}
.tbEdit a
{
    color: Red;
}

