body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family:Tahoma, "Times New Roman", Arial ;
	font-size:12px;
}
a{
text-decoration:none;
color:#000;
}
img{
border:0 none;
}
a:hover{
text-decoration:underline;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

.text_pink{
color:#f00c67;
}
.nl{
float:left;
}
.nr{
float:right;
}
.clear{
clear:both;
}

.inputText
{
    padding:2px;
    margin:0;
    border:solid 1px #CCC;
    
}

body{
background:#459b30 url(/images/background.png) no-repeat top center;
text-align:center;
}
.wrap
{
    margin:0 auto;
    text-align:center;
    width:1002px;
}
.header
{
    background:url(/images/banner.png) no-repeat top left;
    height:235px;
    margin:0 auto;
    margin-left:6px;
    position:relative;
    z-index:9999;
}
.banner
{
    height:195px;
}
.menutop
{
    text-align:left;
}
.menutop .leftMenutop
{
    background:url(/images/left-topmenu.png) no-repeat top left;
    height:40px;
    width:9px;
    float:left;
}
.menutop .centerMenutop
{
    background:url(/images/center-topmenu.png) repeat-x top left;
    height:40px;
    float:left;
    z-index:9999;
    position:relative;
}
.menutop .rightMenutop
{
    background:url(/images/right-topmenu.png) no-repeat top right;
    height:40px;
    width:9px;
    float:left;
    z-index:9998;
    position:relative;
}
ul.menu {list-style:none; margin:0; padding:0; margin-top:5px;}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px; background:url("/images/line-topmenu.gif") no-repeat scroll left 5px transparent;}
ul.menu li:first-child, ul.menu li.firstChild{ background:none; }
ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
/*ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}*/
ul.menu ul li {position:relative; border-top:none; width:180px; margin:0;}
ul.menu ul li a {display:block; padding:6px; background-color:#d1d1d1; padding-left:15px;}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:180px; top:-1px}
/*ul.menu .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(/images/header.gif); width:134px}*/
ul.menu .menulink {padding:5px 15px; font-weight:bold; }
ul.menu .menulink:hover, ul.menu .menuhover {background:#d49c1f;}
ul.menu .sub {background:#d1d1d1 url(/images/arrow.gif) 170px 8px no-repeat}
/*ul.menu .topline {border-top:1px solid #aaa}*/



.main
{
    background:url(/images/back-centerbody.png) repeat-y top left;
    padding:0 6px;
    position:relative;
    z-index:1;
    text-align:left;    
}



.topSearch
{
    height:250px;
    padding:5px;
    background:#EEEEEE;
}

.topSearch .leftTopSearch
{
    float:left;
    width:700px;
    height:250px;
}
.topSearch .rightTopSearch
{
    float:right;
    width:225px;
    height:210px;
    background:#FFF;
    padding:20px;
}
.topSearch .showImage
{
    background:#FFF;
    width:430px;
    float:left;
    height:240px;
    padding:5px;
}
.topSearch .listImage
{
    width:250px;
    float:right;
    height:250px;
}
.listImage .frameListImage
{
    background:url(/images/frame.png) no-repeat top left;
    width:130px;
    height:94px;
}
.listImage .titleListImage
{
    color:#459b30;
    width:120px;
    text-align:left;
    font-weight:bold;
    font-family:Tahoma;
}
.rightTopSearch .titleSearch
{
    font-weight:bold;
    height:35px;
    line-height:30px;
    text-align:center;
    background:url(/images/Search.png) 10px no-repeat;
}
.rightTopSearch .label
{
    width:100px;
    height:30px;
    line-height:30px;
}
.rightTopSearch .value
{
    width:125px;
    height:30px;
    padding-top:5px;
}














.shadowBottom
{
    background:url(/images/back-bottombody.png) no-repeat top left;
    height:12px;    
}
.footer
{
    text-align:center;
}
.topFooter
{
    height:50px;
    text-align:center;
    background:url(/images/lineFooterH.png) no-repeat bottom center;
}


.topFooter .menuItem
{
    height:40px;
    line-height:30px;
    font-weight:bold;
    font-size:11px;
    padding:15px;
    color:#FFF;
    background:url(/images/line-bottom.gif) no-repeat 0 20px;
    display:inline-block;
}
.bottomFooter
{
    margin:0 auto;
    width:300px;
    text-align:left;
    font-size:11px;
    color:#FFF;
    line-height:20px;
    padding-top:10px;
}



















.bodyContent
{
    padding-top:5px;
}
.bodyContent .leftMain
{
    width:620px;
    padding-left:10px;
}
.bodyContent .rightMain
{
    width:350px;
    margin-right:5px;
}
.box
{
    border:solid 1px #EEE;
    border-bottom-width:2px;
}
.rightMain .box
{
    background:#EEE;
    border:solid 2px #EEE;
}

.leftMain .box
{
    padding:5px;
    margin-bottom:10px;
    text-align:justify;
}
.box .topNews
{
    width:360px;
    text-align:justify;
}

.box .spDate
{
    color:#AAA; 
    font-style:italic;
}
.box .otherTopNews
{
    width:235px;
}
.box .title
{
    color:#ff8040;
    font-weight:bold;
    font-size:1.1em;
    border-bottom:2px solid #459B30;
    margin-bottom:10px;
    padding-bottom:1px;
}
.box .title span
{
    background: url("/images/cat-sectitle.png") no-repeat scroll right top transparent;
    height: 20px;
    line-height: 20px;
    padding: 3px 50px 3px 10px;
}
.box .title span a
{
    color:#FFF;
}
    
.box .spTitle
{
    font-weight:bold;
}
.otherTopNews ul li
{
    list-style:none;
    background:url("/images/icon-square.jpg") no-repeat 3px 6px;
    padding: 3px 3px 2px 17px;
}
a:active
{
    color:#ff8040;
    text-decoration:underline;
}
.listOtherNews
{
    padding:15px 5px 5px 20px; 
    margin: 10px; 
    text-decoration: underline; 
    border-top:solid 1px #AAA; 
    font-weight:bold; 
    color:#ff8040
}