<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataContext.Properties.Settings.SocialShopConnectionString"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString1"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;User ID=socialshop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString2"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString3"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString4"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString5"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString6"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString7"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=socialshop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString8"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=SocialShop"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString9"
            connectionString="Data Source=117.6.0.13;Initial Catalog=SocialShop;Persist Security Info=True;User ID=socialshop;Password=ssAdmin\)!)^\"
            providerName="System.Data.SqlClient" />
        <add name="DataContext.Properties.Settings.SocialShopConnectionString10"
            connectionString="Data Source=192.168.1.115\SQL2008;Initial Catalog=SocialShop;Persist Security Info=True;User ID=socialshop" />
    </connectionStrings>
</configuration>