<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/framework/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".menuParent").parent().hover(function () {
                $(this).find("ul").first().fadeIn(300); // css("display", "block");
                $(this).find("a").first().css("background", "#DCA322 !important");
            },
        function () {
            $(this).find("ul").first().css("display", "none");
            $(this).find("a").first().css("background", "url(/images/line-topmenu.png) no-repeat 0 10px !important;");
            $(this).find(".Menufirst").css("background", "none !important");
        });
            $(".menuChildren").parent().hover(function () {
                $(this).find("ul").first().fadeIn(100); // css("display", "block");
                $(this).find("a").first().css("background", "#FFF !important");
            },
        function () {
            $(this).find("ul").first().css("display", "none");
            $(this).find("a").first().css("background", "#DCA322 !important;");
        });
        });
    </script>
    <!--[if IE 6]>
    <script src="/js/framework/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
    <script>
      /* EXAMPLE */
      DD_belatedPNG.fix('.png_bg,img');
  
      /* string argument can be any CSS selector */
      /* .png_bg example is unnecessary */
      /* change it to what suits you! */
    </script>
    <![endif]-->
</head>
<body>
    <div class="wrap">
        <!--Begin header-->
        <div class="header png_bg">
            <div class="banner">
            </div>
            <!--Begin menutop-->
            <div class="menutop">
                <div class="leftMenutop png_bg">
                </div>
                <div class="centerMenutop">
                    <ul>
                        <li class="liParent"><a href="#" class="menuParent Menufirst">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                                <li class="liParent"><a href="#" class="menuChildren">Menu con</a>
                                    <ul style="display: none" class="ulChild2">
                                        <li><a href="#" class="menuChildren">Menu con 2</a></li>
                                        <li><a href="#" class="menuChildren">Menu con</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                        <li class="liParent"><a href="#" class="menuParent">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                        <li class="liParent"><a href="#" class="menuParent">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                        <li class="liParent"><a href="#" class="menuParent">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                        <li class="liParent"><a href="#" class="menuParent">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                        <li class="liParent"><a href="#" class="menuParent">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                        <li class="liParent"><a href="#" class="menuParent">Trang chủ</a>
                            <ul style="display: none" class="ulChild1">
                                <li><a href="#" class="menuChildren">Menu con</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="rightMenutop png_bg">
                </div>
                <div class="clear">
                </div>
                <!--End menutop-->
            </div>
        </div>
        <!--End header-->
        <!--Begin main-->
        <div class="clear">
        </div>
        <div class="main">
            <div class="shadowTop png_bg">
                <!-- -->
            </div>
            <!--Begin Main content-->
            <div class="maincontent png_bg">
                <div class="contentWrap">
                    <div class="topSearch">
                        <div class="containSubmenu">
                        </div>
                        <div class="leftTopSearch">
                            <div class="showImage">
                                <div>
                                    <div style="height: 185px;">
                                        <img src="/images/duan.png" width="427" height="185" />
                                    </div>
                                    <div style="height: 46px; margin-top: 15px; text-align: left; color: #ff8040;">
                                        <div class="nl" style="width: 317px; font-weight: bold; font-family: Tahoma; margin: 0 10px;">
                                            Căn hộ cao cấp ngoại ô thành phố Vinh</div>
                                        <div class="nl">
                                            <a href="#">
                                                <img src="/images/btnChitiet.png" /></a></div>
                                        <div class="clear">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listImage">
                                <table>
                                    <tr>
                                        <td valign="middle" class="titleListImage">
                                            Căn hộ tại chung cư TECCO
                                        </td>
                                        <td class="frameListImage png_bg" valign="middle" align="center">
                                            <img src="/images/duan1.png" width="110" height="67" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="middle" class="titleListImage">
                                            Căn hộ tại chung cư TECCO
                                        </td>
                                        <td class="frameListImage png_bg" valign="middle" align="center">
                                            <img src="/images/duan1.png" width="110" height="67" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="rightTopSearch">
                            <div class="titleSearch png_bg">
                                TÌM KIẾM NÂNG CAO
                            </div>
                            <div>
                                <div class="label nl">
                                    Tìm tại</div>
                                <div class="value nr">
                                    <select class="inputText" style="width: 80px;">
                                        <option>Vinh</option>
                                    </select></div>
                                <div class="clear">
                                </div>
                                <div class="label nl">
                                    Phường / Xã</div>
                                <div class="value nr">
                                    <select class="inputText" style="width: 100px;">
                                        <option>[--Tất cả--]</option>
                                    </select></div>
                                <div class="clear">
                                </div>
                                <div class="label nl">
                                    Loại hình</div>
                                <div class="value nr">
                                    <select class="inputText" style="width: 100px;">
                                        <option>[--Tất cả--]</option>
                                    </select></div>
                                <div class="clear">
                                </div>
                                <div class="label nl">
                                    Khoảng giá</div>
                                <div class="value nr">
                                    <select class="inputText" style="width: 80px;">
                                        <option>[--Tất cả--]</option>
                                    </select></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div style="text-align: center; padding: 10px;">
                                <a href="#">
                                    <img src="/images/btnSearch.png" /></a>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                        <!--End top search-->
                    </div>
                    <!--Begin body content-->
                    <div class="bodyContent">
                        <div class="leftMain nl">
                            <div class="box">
                                <div class="title">
                                    Sàn giao dịch</div>
                                <div class="topNews nl">
                                    <img src="/images/Doitac.png" width="140" class="nl" style="border: solid 1px #AAA;
                                        margin: 10px;" />
                                    <p>
                                        <span class="spTitle">Bàn đọc sách không nên đối diện với cổng ra vào</span> <span
                                            class="spDate">07/06/2011</span>
                                        <p>
                                            Thông thường khi nhắc đến phong thủy cho một ngôi nhà người ta hay quan tâm đến
                                            phòng khách, phòng ngủ và bếp hơn là không gian đọc sách. Thế nhưng nếu có thể tuân
                                            theo các nguyên tắc phong thủy cho phòng đọc sẽ tạo nên sự thoải mái, thư giãn lý
                                            tưởng.
                                        </p>
                                    </p>
                                    <div class="clear">
                                    </div>
                                </div>
                                <div class="otherTopNedws nr">
                                    <ul>
                                        <li><a href="#">abc</a></li>
                                    </ul>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                        <div class="rightMain nr">
                            <div class="box">
                                Đối tác
                            </div>
                            <div class="box" style="padding-left: 5px;">
                                <a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a><a href="#">
                                    <img src="/images/Doitac.png" width="166" height="124" />
                                </a>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                        <!--End body content-->
                    </div>
                </div>
            </div>
            <!--End Main con tent-->
            <div class="clear">
            </div>
            <div class="shadowBottom png_bg">
                <!-- -->
            </div>
        </div>
        <!--End main-->
        <div class="footer">
            <div class="topFooter png">
                <div class="clear">
                </div>
                <a class="menuItem Menufirst" href="#">Trang chủ</a> <a class="menuItem png_bg" href="#">
                    Trang chủ</a> <a class="menuItem png_bg" href="#">Trang chủ</a> <a class="menuItem png_bg"
                        href="#">Trang chủ</a></span><a class="menuItem png_bg" href="#">Trang chủ</a>
            </div>
            <div class="bottomFooter">
                AULAC real estate JSC<br />
                Copyright &copy; 2011 AULAC Jsc. All right resevred
                <br />
                Add: Xóm 15 - Nghi Kim - TP. Vinh - Nghệ An
            </div>
        </div>
    </div>
</body>
</html>
