<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/unsafe"
                type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></compiler>
    </compilers>
  </system.codedom>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="On" defaultRedirect="/photoServices/srv_errorhandle.aspx"></customErrors>
    <identity userName="socialshop" password="\)!)^\" impersonate="true" />

  </system.web>
  <appSettings>
    <!-- URL Services ảnh -->
    <add key="Services.Photo" value="http://192.168.1.115/photoservices/" />

    <add key="DefaultSaveThumbnails" value="true" />
    <!-- Đường dẫn chứa tài nguyên ảnh-->
    <add key="Resources.Photo.Logo" value="\\192.168.1.115\socialshop\resources\images\logo\" />
    <add key="Resources.Photo.Product" value="\\192.168.1.115\socialshop\resources\images\product\" />
    <add key="Resources.Photo.ShowProduct" value="\\192.168.1.115\socialshop\resources\images\showproduct\" />
    <add key="Resources.Photo.WantAds" value="\\192.168.1.115\socialshop\resources\images\wantads\" />
    <add key="Resources.Photo.News" value="\\192.168.1.115\socialshop\resources\images\news\" />
    <add key="Resources.Photo.Theme" value="\\192.168.1.115\socialshop\resources\images\theme\" />
    <add key="Resources.Photo.Advertisement" value="\\192.168.1.50\resources\images\advertisement\" />
    <!-- Đường dẫn ảnh mặc định-->
    <add key="Resources.NoImage" value="\\192.168.1.115\socialshop\resources\images\noimage.jpg" />
    
    <!-- Các kích thước cho phép save thumbnail -->
    <add key="Resources.ImageSize.Logo" value="200x160,50x50,33x88,23x62,20x54" />
    <add key="Resources.ImageSize.Product" value="70x50,172x104,96x126,42x62,193x247" />
    <add key="Resources.ImageSize.ShowProduct" value="193x247" />
    <add key="Resources.ImageSize.WantAds" value="" />
    <add key="Resources.ImageSize.News" value="" />
    <add key="Resources.ImageSize.Theme" value="" />
    <add key="Resources.ImageSize.Advertiment" value="" />
      
  </appSettings>
  <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/photoServices/srv_errorhandle.aspx" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/photoServices/srv_errorhandle.aspx" responseMode="ExecuteURL" />
        </httpErrors>
  </system.webServer>


</configuration>
