<connectionStrings>
  <!--<add name="SocialShop.ConnectionString" connectionString="data source=117.6.0.13;initial catalog=SocialShop;uid=socialshop;pwd=ssAdmin\)!)^\" />-->  
  <add name="SocialShop.ConnectionString" connectionString="data source=192.168.1.250;initial catalog=SocialShop;uid=socialshop;pwd=ssAdmin\)!)^\" />
  <add name="FriendConnStr" connectionString="4uVuoP+LcO2rdRx4SFtmjaNv/5CjSlHdfkzqbzveuQb5F5uGjqut82tk58tE5JpVmpvRBGdEEyW0oxGTRTKWJfBrGD2wzWQXC5dZY3Aw/nNhwiuvq1FW72dHFKsfnyUcrK5DkhsgfT+e2PM36UxCcmxAogWo2hUtqLgM/9cT5M1n63hr7csf/+8xQojhwbWP"/>
  <!--<add name="FriendConnStr" connectionString="XSrDI1fVe6W5XfIx0nIdm6gZ7Idg+VR4aGdThhZZ81UDDrE4Tts4pA+Sdni4H2/NVs+hadNElvqXGd5DnOhbF2XvfNsAFZoKSfdCHorfV5cFlo0dCOM1Wbl3YHch/CgBvqLvhrhzaCTVbmWNyb0CHocIXqAC2Ap7RPeVj8VCZ9I="/>-->
</connectionStrings>