<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.htm" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="SocialShopPortal" virtualUrl="^~/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Portal.aspx" ignoreCase="true"/>
    <add name="Login" virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Login.aspx" ignoreCase="true"/>

    <add name="ListingProduct" virtualUrl="^~/pages/product/listing/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/ListingProduct.aspx?name=$1&amp;id=$2" ignoreCase="true"/>
    <add name="AdvancedSearch" virtualUrl="^~/pages/search/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Search.aspx?$1" ignoreCase="true"/>
    <add name="ProductDetail" virtualUrl="^~/pages/product/details/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/ProductDetails.aspx?name=$1&amp;id=$2" ignoreCase="true"/>
    
    <add name="Cart" virtualUrl="^~/pages/cart" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Cart.aspx" ignoreCase="true"/>

    <add name="Help" virtualUrl="^~/info/help.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Help.aspx" ignoreCase="true"/>
    <add name="FAQ" virtualUrl="^~/info/faq.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/FAQ.aspx" ignoreCase="true"/>
    <add name="Policy" virtualUrl="^~/info/(.*)/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Policy.aspx?type=$1" ignoreCase="true"/>
    <add name="Error" virtualUrl="^~/info/error.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/ErrorPage.aspx" ignoreCase="true"/>
    <add name="AccessDenied" virtualUrl="^~/info/accessdenied.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/AccessDenied.aspx" ignoreCase="true"/>
    
    <add name="QADetails" virtualUrl="^~/pages/qa/details/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/QADetails.aspx?name=$1&amp;id=$2" ignoreCase="true"/>
    <add name="QACreate" virtualUrl="^~/pages/qa/create" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/QACreate.aspx?type=create" ignoreCase="true"/>
    <add name="QAEdit" virtualUrl="^~/pages/qa/edit-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/QACreate.aspx?type=edit&amp;id=$1" ignoreCase="true"/>
    <add name="QA" virtualUrl="^~/pages/qa" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/QA.aspx" ignoreCase="true"/>

    <add name="ListingShop" virtualUrl="^~/pages/shoplist/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/ShopList.aspx?$1" ignoreCase="true"/>
    <add name="ListingBuyingGroup" virtualUrl="^~/pages/buyinggroup/listing" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/ListBuyingGroup.aspx" ignoreCase="true"/>

    <add name="News" virtualUrl="^~/pages/news/list" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/News.aspx" ignoreCase="true"/>
    <add name="NewsDetail" virtualUrl="^~/pages/news/detail/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/NewsDetail.aspx?name=$1&amp;id=$2" ignoreCase="true"/>

    <add name="NewsSS" virtualUrl="^~/pages/newsSS/list" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/NewsSS.aspx" ignoreCase="true"/>
    <add name="NewsSSDetail" virtualUrl="^~/pages/newsSS/detail/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/NewsSSDetail.aspx?name=$1&amp;id=$2" ignoreCase="true"/>
    
    <!-- Các trang quản lý User -->
    <add name="UserInfo" virtualUrl="^~/user/(.*)/info" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/UserInfo.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserShopFan" virtualUrl="^~/user/(.*)/shopfan" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/FanShop.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserWantAds" virtualUrl="^~/user/(.*)/wantads" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/WantAds.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserOwnerProduct" virtualUrl="^~/user/(.*)/ownerproduct" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/ProductOwner.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserMarkProduct" virtualUrl="^~/user/(.*)/markproduct" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/ProductFavo.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserShowImageProduct" virtualUrl="^~/user/(.*)/showproduct" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/ShowProductAdmin.aspx?uname=$1" ignoreCase="true"/>
    <add name="BuyingGroup" virtualUrl="^~/user/(.*)/buyinggroup" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/BuyingGroup.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserQA" virtualUrl="^~/user/(.*)/qa" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/QA.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserTransaction" virtualUrl="^~/user/(.*)/transaction" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/Trans.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserOrder" virtualUrl="^~/user/(.*)/order" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/Order.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserReport" virtualUrl="^~/user/(.*)/report" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/Report.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserPayGo" virtualUrl="^~/user/(.*)/paygo(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/GoPayment.aspx?uname=$1&amp;$2" ignoreCase="true"/>
    <add name="UserCartBuyingGroup" virtualUrl="^~/user/(.*)/cartbuyinggroup" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/BuyingGroupCart.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserCartDetailBuyingGroup" virtualUrl="^~/user/(.*)/(.*)/cartdetailbuyinggroup" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/BuyingGroupCartDetail.aspx?uname=$1&amp;id=$2" ignoreCase="true"/>
    
    <!-- Trang cá nhân -->
    <add name="UserPortal" virtualUrl="^~/user/(.*)/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/UserPortal.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserPortal2" virtualUrl="^~/user/(.*)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/UserPortal.aspx?uname=$1" ignoreCase="true"/>
    <add name="UserPortal3" virtualUrl="^~/user/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/user/UserPortal.aspx?uname=$1" ignoreCase="true"/>

    <!-- Các trang cá nhân shop -->
    <add name="ShopAdvancedSearch" virtualUrl="^~/shop/(.*)/search/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Search.aspx?sname=$1&amp;$2" ignoreCase="true"/>
    <add name="ShopListingProduct" virtualUrl="^~/shop/(.*)/product/listing/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ListingProduct.aspx?sname=$1&amp;name=$2&amp;id=$3" ignoreCase="true"/>
    <add name="ShopInfo" virtualUrl="^~/shop/(.*)/info" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ShopInfo.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopWantAdsDetail" virtualUrl="^~/shop/(.*)/wantads/detail/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/WantAdsDetail.aspx?sname=$1&amp;name=$2&amp;id=$3" ignoreCase="true"/>
    <add name="ShopWantAdsList" virtualUrl="^~/shop/(.*)/wantads/list" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/WantAdsList.aspx?sname=$1" ignoreCase="true"/>    
    <add name="ShopListingBuyingGroup" virtualUrl="^~/shop/(.*)/buyinggroup/listing" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ListBuyingGroup.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopProductDetail" virtualUrl="^~/shop/(.*)/product/details/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ProductDetails.aspx?sname=$1&amp;name=$2&amp;id=$3" ignoreCase="true"/>
    <!-- Các trang quản trị shop -->
    
    <add name="ShopCategory" virtualUrl="^~/shop/(.*)/category" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Category.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopCustomer" virtualUrl="^~/shop/(.*)/customer" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Customer.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopCreateBuyingGroup" virtualUrl="^~/shop/(.*)/buyinggroup/create" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/CreateBuyingGroup.aspx?type=create&amp;sname=$1" ignoreCase="true"/>
    <add name="ShopEditBuyingGroup" virtualUrl="^~/shop/(.*)/buyinggroup/edit-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/CreateBuyingGroup.aspx?type=edit&amp;sname=$1&amp;id=$2" ignoreCase="true"/>
    <add name="ShopBuyingGroup" virtualUrl="^~/shop/(.*)/buyinggroup" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/BuyingGroup.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopBuyingGroupDetail" virtualUrl="^~/shop/(.*)/buyinggroup/details-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/BuyingGroupDetail.aspx?sname=$1&amp;id=$2" ignoreCase="true"/>
    <add name="ShopFanShop" virtualUrl="^~/shop/(.*)/fanshop" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/FanShop.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopFeedback" virtualUrl="^~/shop/(.*)/feedback" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Feedback.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopFeedbackDetail" virtualUrl="^~/shop/(.*)/feedback/details/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/FeedBackDetails.aspx?sname=$1&amp;name=$2&amp;id=$3" ignoreCase="true"/>
    <add name="ShopImageCollection" virtualUrl="^~/shop/(.*)/imagecollection" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ImageCollection.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopMessage" virtualUrl="^~/shop/(.*)/message" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Message.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopMessageCreate" virtualUrl="^~/shop/(.*)/message/create" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/MessageCreate.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopMessageInboxDetail" virtualUrl="^~/shop/(.*)/message/inbox/details-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/MessageInboxDetail.aspx?sname=$1&amp;id=$2" ignoreCase="true"/>
    <add name="ShopMessageInbox" virtualUrl="^~/shop/(.*)/message/inbox" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/MessageInbox.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopMessageSendDetail" virtualUrl="^~/shop/(.*)/message/send/details-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/MessageSendDetail.aspx?sname=$1&amp;id=$2" ignoreCase="true"/>
    <add name="ShopMessageSend" virtualUrl="^~/shop/(.*)/message/send" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/MessageSend.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopOrder" virtualUrl="^~/shop/(.*)/order" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Order.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportBill" virtualUrl="^~/shop/(.*)/reportbill" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportBill.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportFeedBack" virtualUrl="^~/shop/(.*)/reportfeedback" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportFeedBack.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportMessage" virtualUrl="^~/shop/(.*)/reportmessage" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportMessage.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportProduct" virtualUrl="^~/shop/(.*)/reportproduct" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportProduct.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportPromotion" virtualUrl="^~/shop/(.*)/reportpromotion" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportPromotion.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportShopFan" virtualUrl="^~/shop/(.*)/reportshopfan" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportShopFan.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportSMS" virtualUrl="^~/shop/(.*)/reportsms" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportSMS.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReportWantAds" virtualUrl="^~/shop/(.*)/reportwantads" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ReportWantAds.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopTransaction" virtualUrl="^~/shop/(.*)/transaction" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Trans.aspx?sname=$1" ignoreCase="true"/>

    <add name="ShopProduct" virtualUrl="^~/shop/(.*)/product" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Product.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopPromotion" virtualUrl="^~/shop/(.*)/promotion" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Promotion.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopWantAds" virtualUrl="^~/shop/(.*)/wantads" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/WantAds.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopTheme" virtualUrl="^~/shop/(.*)/theme" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/ThemeMgmt.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopQA" virtualUrl="^~/shop/(.*)/QA" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/QA.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopReport" virtualUrl="^~/shop/(.*)/report" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Report.aspx?sname=$1" ignoreCase="true"/>
    
    <!-- Trang portal của shop -->
    <add name="ShopOwner" virtualUrl="^~/shop/(.*)/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Shop.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopOwner2" virtualUrl="^~/shop/(.*)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Shop.aspx?sname=$1" ignoreCase="true"/>
    <add name="ShopOwner3" virtualUrl="^~/shop/(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/shop/Shop.aspx?sname=$1" ignoreCase="true"/>
    
    <!-- Mua chung-->
    <add name="MuaChungDetail" virtualUrl="^~/muachung/details/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/muachung/BuyingGroupDetail.aspx?name=$1&amp;id=$2" ignoreCase="true"/>
    <add name="MuaChungComplete" virtualUrl="^~/muachung/ket-thuc" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/muachung/Complete.aspx" ignoreCase="true"/>
    <add name="MuaChungHome" virtualUrl="^~/muachung" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/muachung/Default.aspx" ignoreCase="true"/>
    
  </rewrites>
</urlrewritingnet>