<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.htm" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="SocialShopPortal" virtualUrl="^~/index.htm" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/Default.aspx" ignoreCase="true"/>
    <add name="Login" virtualUrl="^~/login" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Login.aspx" ignoreCase="true"/>
    <add name="NewsDetails" virtualUrl="^~/news/(.*)-(.*)/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/NewsDetails.aspx?CategoryID=$2&amp;NewsID=$4" ignoreCase="true"/>
    <add name="News" virtualUrl="^~/news/(.*)-(.*)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/pages/News.aspx?CategoryID=$2" ignoreCase="true"/>
    

    <add name="CategoryManager" virtualUrl="^~/admin/category" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Backend/pages/content/Category.aspx" ignoreCase="true"/>
    <add name="NewsManager" virtualUrl="^~/admin/news" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Backend/pages/content/News.aspx" ignoreCase="true"/>
  </rewrites>
</urlrewritingnet>