body
{
    font-size: 16px;
}
.contact_title
{
    float:left;
    width:90%;
    padding:20px 0;
}
.contact_title a
{
    font-family:Arial;
    font-size:12px;
    line-height:20px;
}
.contact_title a:hover
{
     text-decoration:none;
}
.bds_info
{
    width: 100%;
    float: left;
}
h2
{
    font-size: 18px;
    color: Red;
    padding-bottom: 5px;
    border-bottom: 1px solid #CFCFCF;
    font-family: Tahoma,Verdana;
}
.bds_desc
{
    float: left;
    padding: 8px 5px;
    width: 100%;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    color: #245AA5;
}
.bds_other
{
    float: left;
    width: 100%;
    padding-top: 20px;
}
.bds_contact
{
    float: left;
    width: 100%;
    padding: 5px 5px;
}
.bds_contact a
{
    color: #245AA5;
}
.bds_contact tr td
{
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.tblDetail tr td
{
    width: 170px;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.tblDetail a
{
    color: #245AA5;
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.tblDetail a:hover
{
    text-decoration: none;
}
.bds_img
{
    float:left;
    width:100%;
}
.bds_img img
{
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.tbl_contact tr td
{
    width: 120px;
}
.tbl_addnewbds tr td a
{
    color: Red;
}
.tbl_addnewbds
{
    margin-left: 10px;
}
.myTable
{
    margin-left: 80px;
}
.myTable tr td
{
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.myTable tr td a
{
    color:Red;
}
.btnButton
{
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}

.tbContact tr td
{
    
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.tbContact tr td a
{
    color:Red;
}
.fupload
{
    
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.contact_tb
{
    float:left;
    width:100%;
    
}