
        .doc_wrapper
        {
            float:left;
        }
        .doc_wrap
        {
            
            float:left;
            border-bottom:1px dotted #D3B439;
            width:100%;
        }
        .doc_title
        {
            float:left;
            text-align:justify;
            padding:5px 5px;
            width:100%;
        }
        .doc_desc
        {
            float:left;
            padding:5px 5px;
            text-align:justify;
            width:100%;
        }
       
        .doc_download
        {
             padding:5px 5px;
             float:left;
        }
        .doc_download a
        {
            color:Red;
            text-decoration:none;
            
        }
      
     