
		
	
	
/* // thumbnail list */

#my_wrapper{
    width:960px;
    min-height: 96%;
	height: auto !important;
	height: 96%;
	text-align:left;
    margin: 0 auto -30px;
    padding:0 10px 0px 10px;
    
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
#bigPic{
	width:370px;
	height:245px;
	padding:4px 3px;
	border:1px solid #CCC;
	background-color:#FFF;
	margin-bottom:10px;
	float:left;
	-moz-border-radius:5px;
}
#bigPic img{
	position:absolute;
	width:370px;
	height:220px;
	border:none;
}
.mybox
{
    position:absolute;
    display:none;	
    width:370px;
	float:left;
	
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.mybox_img
{
    float:left;
    width:370px;
	height:210px;
	overflow:hidden;
}
.mybox_title
{
    float:left;
    width:100%;
    height:30px;
    text-align:center;
    padding-top:10px;
    
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}

ul#thumbs li.active{
	background:#fff;
	padding:2px;
}
ul#thumbs, ul#thumbs li{
	margin:0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	padding:3px;
	cursor:pointer;
	height:115px;
}
.my_li
{
    width:100%;
}
.ul#thumbs li .my_title
{
     float:left;
    width:70px;
    height:80px;
}
/*ul#thumbs img{
	float:left;
	width:100px;
	height:90px;
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;		
}/*
/*======================*/
.leftSlide
{
    float:left;
    width:280px;
    height:240px;
    margin-left:5px;
    overflow:auto;
}
.my_Title
{
    float:left;
    width:120px;
     padding-top:15px;
     
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}
.my_Img
{
    float:left;
    background:url("../images/frame.png") no-repeat;
    width:130px;
    height:95px;
    position:relative;
}
.my_Img img
{
    float:left;
	width:110px;
	height:70px;
	line-height:80px;
	overflow:hidden;
	z-index:1;
	position:absolute;
	top:11px;
	left:9px;
}
/*==========style for TopSearch=========*/

.tbSearch tr td
{
    padding:3px 2px;
    
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
}