body 
{
}
 .realty_item
        {
            float:left;
            width:100%;
            border-bottom:1px dotted #E8DC5C;
            padding:3px;
            font-family:Arial,Tahoma,Verdana;
            font-size:12px;
        }
        .img_item
        {
            width:120px;
            height:100px;
            float:left;
            margin-right:10px;
            border:1px dotted #CFCFCF;
            font-family:Arial,Tahoma,Verdana;
        }
        .detail_item
        {
            float:left;
            font-family:Arial,Tahoma,Verdana;
            font-size:12px;
            width:480px;
        }
        .detail_item_title
        {
             width:100%;
             float:left;
             padding:2px;
        }
        .detail_item_title a
        {
            color:#0564A7;
            font-weight:bold;
        }
        .detail_item_title a:hover
        {
            text-decoration:underline;
        }
        .detail_item_price
        {
            width:100%;
            float:left;
            padding:2px;
        }
        .detail_item_price a
        {
            color:Black;
        }
        a:hover
        {
            text-decoration:none;
            
        }
        
       
        .detail_item_date
        {
            float:left;
            width:100%;
            padding:2px;
        }
        .detail_item_date a
        {
            color:#44C2FA;
        }
        .detail_item_add
        {
           float:left;
            width:100%;
            padding:2px; 
        }
        .detail_item_add a
        {
             color:Black;
        }
        .topsearch
        {
            width:100%;
            background:#EFEDED;
            margin-bottom:10px;
            padding-bottom:10px;
            font-family:Arial,Tahoma,Verdana;
        }
        a
        {
            text-decoration:none;
            color:Blue;
            font-family:Arial,Tahoma,Verdana;
            font-size:12px;
        }
        .tbMarket tr td
        {
            padding:5px;
            font-family:Arial,Tahoma,Verdana;
            font-size:12px;
        }
        .tbMarket
        {
            margin-left:50px;
            font-family:Arial,Tahoma,Verdana;
        }
        .btnButton
        {
            font-family:Arial,Tahoma,Verdana;
            font-size:12px;
        }
        .ddl
        {
            
            font-family:Arial,Tahoma,Verdana;
            font-size:12px;
        }
        
