body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family:Tahoma, "Times New Roman", Arial ;
	font-size:12px;
}
a{
text-decoration:none;
}
img{
border:0 none;
}
a:hover{
text-decoration:underline;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

.text_pink{
color:#f00c67;
}
.nl{
float:left;
}
.nr{
float:right;
}
.clear{
clear:both;
}

.inputText
{
    padding:2px;
    margin:0;
    border:solid 1px #CCC;
    
}

body{
background:#459b30 url(/images/background.png) no-repeat top center;
text-align:center;
}
.wrap
{
    margin:0 auto;
    text-align:center;
    width:1002px;
}
.header
{
    background:url(/images/banner.png) no-repeat top left;
    height:235px;
    margin:0 auto;
    margin-left:6px;
    position:relative;
    z-index:9;
}
.banner
{
    height:195px;
}
.menutop
{
    margin-left:3px;
    position:relative;
    z-index:10;
}

.menutop .leftMenutop
{
    background:url(/images/left-topmenu.png) no-repeat top left;
    height:40px;
    width:9px;
    float:left;
}
.menutop .centerMenutop
{
    background:url(/images/center-topmenu.png) repeat-x top left;
    height:40px;
    float:left;
}
.menutop .rightMenutop
{
    background:url(/images/right-topmenu.png) no-repeat top right;
    height:40px;
    width:9px;
    float:left;
}


ul.menu {list-style:none; margin:0; padding:0; margin-top:5px;}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px; background:url("/images/line-topmenu.gif") no-repeat scroll left top transparent;}
ul.menu li:first-child, ul.menu li.firstChild{ background:none; }
ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
/*ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0}*/
ul.menu ul li {position:relative; border-top:none; width:148px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:148px; top:-1px}
/*ul.menu .menulink {border:1px solid #aaa; padding:5px 7px 7px; font-weight:bold; background:url(/images/header.gif); width:134px}*/
ul.menu .menulink {padding:5px 15px; font-weight:bold; }
ul.menu .menulink:hover, ul.menu .menuhover {background:url(/images/header_over.gif)}
ul.menu .sub {background:#d1d1d1 url(/images/arrow.gif) 136px 8px no-repeat}
/*ul.menu .topline {border-top:1px solid #aaa}*/


.shadowTop
{
    background:url(/images/top-body.png) repeat-x top left;
    height:6px;    
    position:relative;
    z-index:9;
    width:990px;
    margin:0 auto;
    padding-top:6px;
    margin-top:-6px;    
}
.shadowBottom
{
    background:url(/images/back-bottombody.png) no-repeat top left;
    height:6px;    
    position:relative;
    z-index:11;
    width:1002px;
    padding-bottom:6px;
    margin-bottom:-6px;
}
.main
{
    position:relative;
    z-index:0;
    text-align:left;
}
.maincontent
{
    background:url(/images/back-centerbody.png) repeat-y top left;
    text-align:center;
    z-index:16;
}
.contentWrap
{
    width:990px;
    margin:0 auto;
    margin-top:-6px;
    position:relative;
    z-index:8;
    background:#FFF;
    text-align:left;
}
.contentWrap .containSubmenu
{
    height:18px;
}


.footer
{
    text-align:center;
}
.topFooter
{
    height:50px;
    text-align:center;
    background:url(/images/lineFooterH.png) no-repeat bottom center;
}


.topFooter .menuItem
{
    height:40px;
    line-height:30px;
    font-weight:bold;
    font-size:11px;
    padding:15px;
    color:#FFF;
    background:url(/images/line-topmenu.png) no-repeat 0 20px;
    display:inline-block;
}
.bottomFooter
{
    margin:0 auto;
    width:300px;
    text-align:left;
    font-size:11px;
    color:#FFF;
    line-height:20px;
    padding-top:10px;
}


.topSearch
{
    height:275px;
    padding:5px;
    background:#EEEEEE;
}

.topSearch .leftTopSearch
{
    float:left;
    width:705px;
    height:250px;
}
.topSearch .rightTopSearch
{
    float:right;
    width:225px;
    height:210px;
    background:#FFF;
    padding:20px;
}
.topSearch .showImage
{
    background:#FFF;
    width:430px;
    float:left;
    height:240px;
    padding:5px;
}
.topSearch .listImage
{
    width:250px;
    float:right;
    height:250px;
}
.listImage .frameListImage
{
    background:url(/images/frame.png) no-repeat top left;
    width:130px;
    height:94px;
}
.listImage .titleListImage
{
    color:#459b30;
    width:120px;
    text-align:left;
    font-weight:bold;
    font-family:Tahoma;
}
.rightTopSearch .titleSearch
{
    font-weight:bold;
    height:35px;
    line-height:30px;
    text-align:center;
    background:url(/images/Search.png) 10px no-repeat;
}
.rightTopSearch .label
{
    width:100px;
    height:30px;
    line-height:30px;
}
.rightTopSearch .value
{
    width:125px;
    height:30px;
    padding-top:5px;
}
.bodyContent
{
    margin-top:10px;
}
.bodyContent .leftMain
{
    width:600px;
    padding-left:15px;
}
.bodyContent .rightMain
{
    width:350px;
    margin-right:5px;
}
.box
{
    border:solid 1px #EEE;
    border-bottom-width:2px;
}
.rightMain .box
{
    background:#EEE;
    border:solid 2px #EEE;
}

.leftMain .box
{
    padding:10px;
}
.box .topNews
{
    width:355px;
    text-align:justify;
}

.box .spDate
{
    color:#AAA; 
    font-style:italic;
}
.box .otherTopNedws
{
    width:200px;
}