<appSettings>
  <!--********************************************-->
  <!-- Các Key cấu hình web-->
  <!--********************************************-->
  
  <!-- Đường dẫn gốc của Web-->
  <add key="WebRoot" value="http://localhost:2010/"/>
  <add key="WebRoot.Backend" value="http://localhost:2011/"/>
  
  <add key="WEB_TITLE" value="[Social Shopping] Vào là thích, Kích là mua"/>
  <add key="WEB_KEYWORD" value="Thương mại điện tử, Mua bán trực tuyến, Cửa hàng, Mua hàng theo nhóm"/>
  <add key="WEB_DESCRIPTION" value="ss.goonline.vn - Website thương mại điện tử hàng đầu tại Việt Nam, cung cấp hàng trăm nghìn sản phẩm từ hàng nghìn nhà cung cấp khác nhau"/>
  

  <add key="COOKIE_DOMAIN" value=""/>
  <!-- Set thời gian tồn tại cookie tính theo phút: 60*24 = 1 ngày -->
  <add key="COOKIE_EXPIRES" value="1440"/>
  
  <!-- URL Services ảnh -->
  <add key="Services.Photo" value="http://goShop.goonline.vn/photoservices/"/>
  
  <!-- Đường dẫn chứa tài nguyên ảnh-->
  <add key="Resources.Photo.Logo" value="\\192.168.1.50\resources\images\logo\" />
  <add key="Resources.Photo.Product" value="\\192.168.1.50\resources\images\product\" />
  <add key="Resources.Photo.ShowProduct" value="\\192.168.1.50\resources\images\showproduct\" />
  <add key="Resources.Photo.WantAds" value="\\192.168.1.50\resources\images\wantads\" />
  <add key="Resources.Photo.News" value="\\192.168.1.50\resources\images\news\" />
  <add key="Resources.Photo.Theme" value="\\192.168.1.50\resources\images\theme\" />
  <!-- Đường dẫn ảnh mặc định-->
  <add key="Resources.NoImage" value="\\192.168.1.50\resources\images\noimage.jpg" />

  <!-- Cấu hình thanh toán qua BankGate -->
  <add key="DestinationUrl" value="http://117.103.192.45/public/paygate/Default.aspx"/>
  <add key="MerchantIDs" value="137"/>
  <add key="MerchantKey" value="IBOOM"/>
  <add key="MerchantSecurityKey" value="487eea192e6748b4eb06fed0a8eaec5d"/>
  <add key="MerchantURLDone" value="http://localhost:2010/handler/HandlerBankGate.ashx"/>
  <add key="MerchantCode" value="IBOOM"/>
  <add key="PayVND" value="66002101"/>
  <add key="PayVcoinPayment" value="66002102"/>
  <add key="PayVcoinGame" value="66002103"/>
  <add key="MerchantDescription" value="Mua hàng trên SocialShop"/>
  <add key="PayCost" value="5"/>
  <add key="GOToVND" value="100"/>
  <!--********************************************-->
  <!-- Các Key cấu hình các phân hệ liên quan -->
  <!--********************************************-->
  <add key="GO_PORTAL_URL" value="http://www.goonline.vn/"/>
  
  <add key="GO_SSO_LOGIN_URL" value="http://goonline.vn/accounts/sso/login/"/>
  <add key="GO_SSO_LOGOUT_URL" value="http://goonline.vn/accounts/sso/logout/"/>
  <add key="GO_SSO_REGISTER_URL" value="http://goonline.vn/accounts/account.register.aspx"/>

  <add key="GO_SSO_KEY_GENERATE_URL" value="http://117.103.196.4/accounts/sso/KeyGenerate.asmx"/>
  <add key="GO_SSO_SERVICE_PROVIDER_SITE_ID" value="100020"/>
  <add key="GO_SSO_KEY_ENCRYPT_DECRYPT" value="http://117.103.192.24:3004/"/>
  <add key="GO_SSO_TIMEOUT" value="600"/>
  
  <add key="GO_AVATAR_URL" value="http://avatar.goonline.vn/avatar.aspx"/>
  <add key="RAOVAT_URL" value="http://raovat.goonline.vn/"/>
  
  <add key="GO_MYGO_URL" value="http://my.goonline.vn/"/>
  <add key="GO_MYGO_HOME_URL" value="http://my.goonline.vn/home.aspx"/>
  <add key="GO_MYGO_SETTING_URL" value="http://my.goonline.vn/settings.aspx"/>
  <!-- Đường dẫn webservice của gửi tin nhắn, mail lên MyGo-->
  <!-- Add vào file host:117.103.196.14 api.my.goonline.vn-->
  <add key="URL_MYGO" value="http://api.my.goonline.vn/Message.asmx" />
  <!-- Sử dụng Services Avtivity -->  
  <add key="WS_ACTIVITY" value="http://activity.goonline.vn/ActivityWs.asmx"/>
  <add key="WS_GORAOVAT" value="http://raovat.goonline.vn/Webservices/WSfaq.asmx"/>
  <add key="WS_LOCAION_MAPAPI" value="http://117.103.192.82:8787/WSMapApi.asmx"/>
  
  <!-- Sử dụng Friend -->
  <!-- Config for publish on server-->
  <!--<add key="SERVER_MEMCACHE_FRIEND" value="10.9.5.29:55501;10.9.5.29:55502;10.9.5.28:55503;10.9.5.28:55504" />
  <add key="ServerSql" value="10.9.5.11"/>-->
  <!-- Config for develop and debug on client-->
  <add key="SERVER_MEMCACHE_FRIEND" value="117.103.196.29:55509" />
  <add key="CACHETYPE_FRIEND" value="EnyimMemcache" />
  <add key="IsEnableCache" value="true" />

  <!-- Cấu hình thanh toán tiền Go trên trang SS -->
  <add key="SS_PAYMENT_SITE_ID" value="1"/>
  <add key="SS_PAYMENT_IP_SERVER" value="127.0.0.1"/>
  <add key="SS_PAYMENT_KEY" value="SOCIAL_SHOP_KEY"/>
  <add key="SS_PAYMENT_PASSWORD" value="1234567890"/>
  <!-- END Cấu hình thanh toán tiền Go trên trang SS -->
  <!--Thời gian được phép sửa sản phẩm, tính theo giờ, -1 : được sửa sản phẩm-->
  <add key="TIME_EDIT_PRODUCT" value="-1"/>

  <!--********************************************-->
  <!--Cấu hình mặc định khi tạo Shop-->
  <!--********************************************-->
  <add key="LOGO_SHOP_DEFAULT" value="logo_default.jpg"/> <!--Tên Logo Shop mặc định-->
  <add key="FAN_SHOP_MAX" value="100"/> <!--Số lượng FanShop tối đa cho phép khi tạo Shop-->
  <add key="SHOP_DAY_EXPIRY" value="100"/> <!--Số ngày được phép duy trì Shop kể từ khi shop được tạo-->
  <add key="BUYING_GROUP_MAX_POINT" value="5"/><!--Số điểm giá mà chủ shop có thể tạo BuyingGroup-->
  <add key="LAST_CHECK_MODE_PRODUCT" value="0"/> <!--Chế độ kiểm duyệt Product 1: Hậu kiểm, 0: Tiền kiểm-->
  <add key="LAST_CHECK_MODE_BUYINGGROUP" value="0"/><!--Chế độ kiểm duyệt BuyingGroup 1: Hậu kiểm, 0: Tiền kiểm-->
  <add key="LAST_CHECK_MODE_CREATESHOP" value="0"/><!--Chế độ kiểm duyệt CreateShop 1: Hậu kiểm, 0: Tiền kiểm-->
  <add key="LAST_CHECK_MODE_NEWSSHOP" value="0"/><!--Chế độ kiểm duyệt tin tưc shop 1: Hậu kiểm, 0: Tiền kiểm-->
  <add key="LAST_CHECK_MODE_SHOWPRODUCT" value="0"/><!--Chế độ kiểm duyệt sản phẩm ShowProduct 1: Hậu kiểm, 0: Tiền kiểm-->
  <!--Điều khoản tạo Shop-->
  <add key="PolicyCreateShop" value="1. Hàng đã mua sẽ không được trả lại, trừ trường hơp hàng không đúng như chất lượng cam kết trên web|          2. Khi đã thanh toán trực tuyến, nếu quý khách không muốn mua, quý khách phải thông báo ngay, để chúng tôi không chuyển hàng|          3. Khi hàng chưa chuyển, mà quý khách hủy bỏ lệnh mua, chúng tôi hoàn trả tiền không bao gồm tiền phí giao dịch|          4. Thời gian trả lại tiền áp dụng theo quy định của ngân hàng hay các cổng kết nối|          5. Chúng tôi không chịu trách nhiệm khi thông tin người nhận không đúng như họ tên, CMT, địa chỉ"/>

   <!--Quy định cho kiểm duyệt: 1: Tiền kiểm, 0: Hậu kiểm -->
  <add key="PolicyCensorship" value="0"/> 
</appSettings>