<connectionStrings>
  <add name="SocialShop.ConnectionString" connectionString="data source=183.182.100.136;initial catalog=Database1;uid=tmt;pwd=123456" />
  <add name="FriendConnStr" connectionString="4uVuoP+LcO2rdRx4SFtmjaNv/5CjSlHdfkzqbzveuQb5F5uGjqut82tk58tE5JpVmpvRBGdEEyW0oxGTRTKWJfBrGD2wzWQXC5dZY3Aw/nNhwiuvq1FW72dHFKsfnyUcrK5DkhsgfT+e2PM36UxCcmxAogWo2hUtqLgM/9cT5M1n63hr7csf/+8xQojhwbWP"/>
</connectionStrings>