<connectionStrings>
  <add name="ConnectionString" connectionString="data source=183.182.100.136;initial catalog=Database1;uid=tmt;pwd=123456" />
  <add name="Database1ConnectionString1" connectionString="Data Source=183.182.100.136;Initial Catalog=Database1;Persist Security Info=True;User ID=tmt;Password=123456"
    providerName="System.Data.SqlClient" />
</connectionStrings>